{% macro render(nodes) %}
    <ul class="tree tree-display">
        {% for node in nodes %}
            <li>
                <span>{{ node.name }}</span>
                {% if node.children %}
                    {{ _self.render(node.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
